html,
body {
    font-family: 'Raleway', serif;
    background:  #143D52;
    color: #666;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.section-title,
.cover-heading {
    text-transform: uppercase;
    font-family: 'Raleway', serif;
}

/*navbar*/
#nav-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.masthead {
    padding: 15px;
    position: relative;
    z-index: 2000;
    width: 100%;
    font-family: 'Raleway', serif;
    transition: all .5s ease;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-brand img {
    width: 26px;
    transition: all .5s ease;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 10px;
}

.masthead-nav > li > a {
    padding: 20px;
    padding-right: 0;
    padding-left: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #7afbc4;
}

.masthead-brand {
    float: left;
}

.masthead-nav {
    float: right;
}

.masthead {
    position: fixed;
    top: 0;
}

@media (min-width: 768px) {
    .masthead-brand img {
        width: 48px;
    }
    .masthead-nav > li + li {
        margin-left: 20px;
    }
    .masthead-nav > li > a {
        font-size: inherit;
    }
    .section-title {
        font-size: 48px;
        margin: 50px 0 30px 0;
    }
    p {
        font-size: 22px;
    }
}

.sticky .masthead-brand img {
    width: 26px;
}

.sticky.masthead {
    background: #00196F;
    padding: 3px 15px;
}

/*header section*/
.cover-container {
    background: #29293a;
    overflow: hidden;
    /*height: 400px;*/
}

.cover-wrapper {
    display: table;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    position: relative;
    z-index: 500;
}

.cover-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.cover-hello {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    color: #7afbc4;
}

.cover-heading {
    font-weight: 100;
    font-size: 40px;
    margin: 0;
    color: #fff;
    font-family: 'Raleway', serif;
}

.cover-designation {
    font-size: 22px;
    color: #7afbc4;
    text-transform: none;
    margin: 0;
    font-family: 'Raleway', serif;
}

/*about*/
#about, #loginform{
    min-height: 300px;
    text-align: left;
}

/*--footer--*/
.footer {
    background-color:rgba(0,0,0,0.8);
    padding: 2em 0;
    text-align: center;
    color: #fff
}
.footer p {
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.footer p a {
    color: #fff;
}
.footer p a:hover {
    color: #999;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../img/arrow.png") no-repeat 0px 0px;
}

